{% extends "Hospital/base.html" %}
{% block content %}
<div align="center">

    <div class="span12">
 
         <div class="item active">
           <div class="well">
             <ul class="nav nav-list">


                <img src="/static/img/logo.png" alt="" height="300" width="800" align="center" >
                 </ul>
                <div class="contactus-caption">
                 
                </div>
              </div>
    </div>
  </div>
</div>
  <div class="span12">
    <div class="page-header">
      <h2 class="center">COLLABORATIVE HEALTHCARE</h2></div>
      <p><font size="2" face="Georgia, Arial" color="grey"><b><p>Collaborative Healthcare provides a system that serves more than a repository for individual health information.
         Allows access to clinical records to give patients the facts with which to gain a deeper understanding of their conditions and      help them make better health plans. Also allows Social networking and patient provider interaction and providing a detailed patient data for clinicians.Same patient health record shared among different settings.Improving public health and reducing the burden on the health system.
</p></b></font></p>
    
 


{% endblock %}


</div>



