{% extends "Hospital/base.html" %}
{% block content %}
    <div align="center">

        <div class="span12">

            <div class="item active">
                <div class="well">
                    <ul class="nav nav-list">

                    <img src="/static/img/2.jpeg" alt="" height="300" width="800" align="center" >
                 </ul>
                <div class="contactus-caption">
                    </ul>
                    <div class="contactus-caption">

                    </div>
                </div>
                </div>
            </div>
        </div>




<div class="span12">
    <div class="page-header">
        <h2 class="center">COLLABORATIVE HEALTHCARE</h2></div>
    <p align='center'><b>Tel: &nbsp;&nbsp;+233 543896199</b></p>
    <p align='center'>Email:&nbsp;&nbsp;CollaborativeHealthCareSystem@gmail.com</p>
    <font size="3px"><b>
        <p align='center'>If you have a question about Collaborative HealthCare System, about how to use our site, have feedback to help us improve, have noticed a problem in our search results, or are seeking information on any of our services, you can write in to us using our email address. We respond to all queries we get.
        </p></b></font>


    {% endblock %}


</div>
</div>