<!-- parent template  -->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>{% block title  %}COLLABORATIVE HEALTHCARE {% endblock %}</title>
<link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
<style>#first-row {text-align:left}
.center {text-align:center}
#Search-second {text-align:right}
.row {border:2px}</style>
<script>
$('.carousel').carousel()
</script>
</head>

<body>
<div class="container">
<!-- Masthead
=============================================== -->
 <header class="jumbotron subhead" >
  <div class="row" id = "first-row">
    <div class="span12">
     <img src="/static/img/f.png" width="2000px" height="120px" title="we build,we deliver"/>
      <br>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span6">
     
<h2 class="prettyprint linenums" >

Administrator's Page</h2>
    </div>
    <div class="span12" id="Search-second">
     
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">


     <li><a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="/healthfacility_list">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registered Health Facilities&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
 <li>
<a href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAQ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
 <li>
<a href="/contact_us">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</li>
<li><a href="/about_us">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<button style="float :right;" class="btn"><i class="icon-user" >
</i>Welcome,{{user.username}}<i class="icon"></i> </button>
<a href="/healthprovider/logout"><button style="float :right;" class="btn btn-danger"><i class="icon-user" >&nbsp</i>Logout<i class="icon"></i> </button>&nbsp&nbsp</a>
    </ul>
  </div>
</header>
<hr />

<ul class="nav nav-tabs">

  <li class="active">
   <a href="/doctorreg"><i class=""></i>ADD NEW DOCTORS</a>
  </li>
 <li class="active">
    <a href="/patientreg"><i class=""></i>ADD NEW PATIENTS</a>
  </li>
<li class="active">
    <a href="/nursereg"><i class=""></i>ADD NEW NURSES</a>
  </li>
<li class="active">
    <a href="/LabTechnicianreg"><i class=""></i>ADD NEW LAB TECHNICIANS</a>
  </li>

<li class="active">
    <a href="/reg_pat_admin"><i class=""></i>REGISTERED PATIENT LIST</a>
  </li>
<li class="active">
    <a href="/doctor_list"><i class=""></i>REGISTERED DOCTOR LIST</a>
  </li>
</ul>


<!-- Middle
=============================================== -->



{% block content %}

{% endblock %}


<!-- Footer
=============================================== -->

<footer class="footer">
<div class="row">
  <div class="span4">
    <p><a href="/contact_us">Contact Us</a></p>
  <!--  {% block footeradd1 %}
    {% endblock %} -->
  </div>
  <div class="span4">
    <p ><a href="/about_us">About Us</a></p>

  </div>
  <div class="span4">
    <p><a href="">Terms and Conditions</a></p>
  </div>
</div>
    <br/>
    <p class="center">Copyright 2014, Collaborative Healthcare</p>

</footer>
</div>

