
{% extends "Hospital/registrar_pagebase.html" %}
{% block content %} 
  <div class="row">
<div class="span4">
<img src="/static/img/5.jpg" width="600px" height="400px" title="we build,we deliver"/>
</div>
    <div class="span8">
           <div class="well">
            <ul class="nav nav-list">
            
            <li><a href="/reg_pat_admin"><img src="/static/bootstrap/docs/assets/img/patient_icon_128.png" width="50px" height="50px" title="we build,we deliver"/> Patient Record List  </a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="/doctor_list"><img src="/static/bootstrap/docs/assets/img/patient_icon_128.png" width="50px" height="50px" title="we build,we deliver"/> Doctor List</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="lab_list"><img src="/static/bootstrap/docs/assets/img/patient_icon_128.png" width="50px" height="50px" title="we build,we deliver"/>  Nurse  List</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="/healthfacility_list"><img src="/static/bootstrap/docs/assets/img/patient_icon_128.png" width="50px" height="50px" title="we build,we deliver"/> Registered Health Facility  List</a></li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="diagnosis_list"><img src="/static/bootstrap/docs/assets/img/patient_icon_128.png" width="50px" height="50px" title="we build,we deliver"/>Lab Technician List </a></li>

   
           </ul>

           </div>

  </div>
  </div>
     <!--/.well -->

{% endblock %}

